@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .fast-transition {
    @apply transition-all ease-linear duration-75;
  }

  .flex-fixed-1 {
    flex-grow: 0;
    max-width: 8.333333%;
    flex-basis: 8.333333%;
  }

  .flex-fixed-2 {
    flex-grow: 0;
    max-width: 16.666667%;
    flex-basis: 16.666667%;
  }

  .flex-fixed-3 {
    flex-grow: 0;
    max-width: 25%;
    flex-basis: 25%;
  }

  .flex-fixed-4 {
    flex-grow: 0;
    max-width: 33.333333%;
    flex-basis: 33.333333%;
  }

  .flex-fixed-5 {
    flex-grow: 0;
    max-width: 41.666667%;
    flex-basis: 41.666667%;
  }

  .flex-fixed-6 {
    flex-grow: 0;
    max-width: 50%;
    flex-basis: 50%;
  }

  .flex-fixed-7 {
    flex-grow: 0;
    max-width: 58.333333%;
    flex-basis: 58.333333%;
  }

  .flex-fixed-8 {
    flex-grow: 0;
    max-width: 66.666667%;
    flex-basis: 66.666667%;
  }

  .flex-fixed-9 {
    flex-grow: 0;
    max-width: 75%;
    flex-basis: 75%;
  }

  .flex-fixed-10 {
    flex-grow: 0;
    max-width: 83.333333%;
    flex-basis: 83.333333%;
  }

  .flex-fixed-11 {
    flex-grow: 0;
    max-width: 91.666667%;
    flex-basis: 91.666667%;
  }

  .flex-fixed-12 {
    flex-grow: 0;
    max-width: 100%;
    flex-basis: 100%;
  }
}

@layer components {
  .dark-compliant {
    @apply bg-white text-gray-900
    dark:bg-gray-800 dark:text-white;
  }

  .paper {
    @apply p-2 shadow-md rounded-lg;
  }

  .button {
    @apply p-2
    hover:bg-black hover:bg-opacity-20
        dark:hover:bg-opacity-40;
  }
}
